{% extends "main/pages/base.html" %}
{% load i18n widget_tweaks tags staticfiles formset_tags crispy_forms_tags debug_tags %}

{% block menu %}{% endblock %}

{% block extra_js %}
	<script src="{% static 'ajax_upload/js/jquery.iframe-transport.js' %}"></script>
    <script src="{% static 'ajax_upload/js/ajax-upload-widget.js' %}"></script>

{% endblock %}


{% block extra_jquery %}
	AjaxUploadWidget.autoDiscover({
            changeButtonText: '{% trans "Change my photo" %}',
        });  
{% endblock %}

{% block extra_css %}

{% endblock %}

{% block section-id %}{% endblock %}

{% block content %}
        
{% errors_for form %}
	<div class="container text-center">
	    <h3>{% trans "My page" %}</h3>
	</div>
	<div class="col-md-12">          
	    <div class="col-md-3"> 
	    	
	        <form method="post" id="img_upload_form" action="" enctype="multipart/form-data">
				
					{{ driverform.featured_image.errors }}
					{{ driverform.featured_image.label_tag }}
					
					{{ driverform.featured_image }}
					
			</form>
			<ul class="unstyled">
	            <li><a href="{% url 'profile' %}"> {% trans "My page" %} </a></li>
	            <li><a href="{% url 'cars' %}"> {% trans "My car" %} </a></li>
	            <li><a href=""> {% trans "My balance" %} </a></li>
	            <li><a href="{% url 'rides' %}"> {% trans "My routes" %} </a></li>
	        </ul> 

	    </div>
	    <div class="col-md-6"> 
	    {% block right %}
	    	
				{% crispy userform %}
				
			
			
		    
		{% endblock %}
	    </div>
	    <div class="col-md-3"></div>
	    
		{% block extra_info %}
			<div class="col-md-6">
					<div id="additional" class="text-center">
					<h3>{% trans "Driver details" %}</h3>
				</div>
				<form method="post" action="{% url 'info' %}">
					{% csrf_token %}
					
					
							<div class="form-group">
								<label for="{{ driverform.mobile.id_for_label }}" class="label-align col-xs-6">{{ driverform.mobile.label }}</label>
								{{ driverform.mobile.errors }}
								<div class="controls col-xs-6">
									<div class="form-group row">
										<div class="col-md-4">
											{% render_field driverform.mobile_prefix class="form-control" %}
										</div>
										<div class="col-md-8">
											{% render_field driverform.mobile class="form-control" %}
										</div>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label for="{{ driverform.sex.id_for_label }}" class="label-align col-xs-6">{{ driverform.sex.label }}</label>
								{{ driverform.sex.errors }}
								<div class="controls col-xs-6">
									{% render_field driverform.sex class="form-control" %}
								</div>
							</div>
							<div class="form-group">
								<label for="{{ driverform.dob.id_for_label }}" class="label-align col-xs-6">{{ driverform.dob.label }}</label>
								{{ driverform.dob.errors }}
								<div class="controls col-xs-6">
									{% render_field driverform.dob class="form-control" %}
								</div>
							</div>

					<div id="submit_btn" class="text-center">
		            	<button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
			        </div>
			    </form>
			</div>
			<div class="col-md-6">
				<div id="additional" class="text-center">
					<h3>{% trans "Car details" %}</h3>
				</div>
			    {% crispy carform %}
			</div>
		{% endblock %}	    
	</div>

{% endblock %}

{% block sub1 %}{% endblock %}
{% block sub2 %}{% endblock %}