{% extends "main/pages/base.html" %}
{% load i18n widget_tweaks tags staticfiles formset_tags crispy_forms_tags debug_tags %}

{% block menu %}{% endblock %}

{% block extra_js %}
	<script src="{% static 'ajax_upload/js/jquery.iframe-transport.js' %}"></script>
    <script src="{% static 'ajax_upload/js/ajax-upload-widget.js' %}"></script>

{% endblock %}


{% block extra_jquery %}
	AjaxUploadWidget.autoDiscover({
            changeButtonText: '{% trans "Change my photo" %}',
        });  
{% endblock %}

{% block extra_css %}

{% endblock %}

{% block section-id %}{% endblock %}

{% block content %}
        
{% errors_for form %}
	{% block header %}
		<div class="container text-center">
		    <h2>{% trans "My page" %}</h2>
		</div>
	{% endblock %}
	<div class="col-md-12">          
	    <div class="col-md-2"> 

	        <form method="post" id="img_upload_form" action="" enctype="multipart/form-data">
				
					{{ driverform.featured_image.errors }}
					{{ driverform.featured_image.label_tag }}
					
					{{ driverform.featured_image }}
					
			</form>
			{% url 'profile' as profile_url %}
            {% url 'rides' as rides_url %}
            {% url 'cars' as cars_url %}
            {% url 'account_change_password' as p_url %}
			<ul class="nav nav-pills nav-stacked unstyled">
	            <li {% if request.get_full_path == profile_url %}class="active"{% endif %}><a href="{{ profile_url }}"> {% trans "My Page" %} </a></li>
	            <li {% if request.get_full_path == cars_url %}class="active"{% endif %}><a href="{{ cars_url }}"> {% trans "My Car" %} </a></li>
	            <li><a href=""> {% trans "My balance" %} </a></li>
	            <li {% if request.get_full_path == rides_url %}class="active"{% endif %}><a href="{{ rides_url }}"> {% trans "My Routes" %} </a></li>
	            <li {% if request.get_full_path == p_url %}class="active"{% endif %}><a href="{{ p_url }}"> {% trans "Change Password" %} </a></li>
	        </ul> 

	    </div>
	    <div class="col-md-10"> 
	    {% block right %}
	    	<div class="col-md-8 col-md-offset-4" id="user-form">
				{% crispy userform %}
			</div>
	    	{% block extra_info %}
					
					<div id="additional" class="col-md-12 text-center">
						<h3>{% trans "Additional details" %}</h3>
					</div>
					<div class="col-md-4 col-md-offset-4">
						<form method="post" class="form form-horizontal" action="{% url 'info' %}">
							{% csrf_token %}
							
							
									<div class="form-group">
										{{ driverform.mobile.errors }}
										
										<div class="col-md-12">	
											{% with _('Mobile number') as mob %}
											{% with _('Please enter 9 digits') as constraint %}
											{% render_field driverform.mobile class="form-control" title=constraint pattern="^(\d{9})$" placeholder=mob %}
											{% endwith %}
											{% endwith %}
											
											{% if not driverform.instance.mobile_verified %}
												<p class="red">{% trans 'You can post rides only after we verify your number. Thanks for understanding.' %}</p>
											{% endif %}
										</div>
										
									</div>
									<div class="form-group">
										{{ driverform.sex.errors }}
											{% render_field driverform.sex %}
									</div>
									<div class="form-group">
										
										{{ driverform.dob.errors }}
											<div class="col-md-12">
											{% with _('Birth year') as by %}
												{% render_field driverform.dob class="form-control fix_width" placeholder=by %}
											{% endwith %}
											</div>
									</div>

							<div class="col-md-6 col-md-offset-4">
				            	<button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
					        </div>
					    </form>
					</div>
			{% endblock %}	    

		{% endblock %}
	    </div>
	
		
	    
		
	</div>

{% endblock %}

{% block sub1 %}{% endblock %}
{% block sub2 %}{% endblock %}