{% extends 'main/pages/base.html' %}
{% load i18n staticfiles %}
{% block content %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

	<div class="col-md-8">
		<a href="{% url 'index' %}"><i class="fa fa-chevron-left fa-2x" style="color: #58AAE3">{% trans "Go back" %}</i></a>
		<table class="table table-condensed white">
			<tr>
				<th rowspan="2">
					{% if ride.driver.featured_image %}
						<img src="{{ ride.driver.featured_image.url }}" width="200px" />
					{% else %}
						<i class="fa fa-user fa-4x"></i>
					{% endif %}
				</th>
				<th>
					{% trans "From where" %}
				</th>
				<th>
					{% trans "To where" %}
				</th>
				<th>
					{% trans "Date" %}
				</th>
				<th>
					{% trans "Time" %}
				</th>
				<th>
					{% trans "Free seats" %}
				</th>
				<th>
					{% trans "Price" %}
				</th>
			</tr>		
			<tr>
				<td>
					{{ ride.fromwhere }}
				</td>
				<td>
					{{ ride.towhere }}
				</td>
				<td>
					{{ ride.leavedate }}
				</td>
				<td>
					{{ ride.starttime }}
				</td>
				<td>
					{{ ride.passenger_number }}
				</td>
				<td>
					{{ ride.price }}
				</td>
			</tr>
			
		</table>
	</div>
	<div class="col-md-4"></div>
	<div class="col-md-4">	
		<table class="table table-condensed white">
			<tr>
				<td class="align_bottom">
					{% trans "First name" %}
				</td>
				<td class="align_bottom" style="color: orange">
					{{ ride.driver.user.first_name }}
				</td>
				<td></td>
				<td class="align_bottom">
					{% trans "Last name" %}
				</td>
				<td class="align_bottom" style="color: orange">
					{{ ride.driver.user.last_name }}
				</td>
				
			</tr>
			<tr>
				<td>
					{% trans "Gender" %}
				</td>
				<td style="color: orange">
					<h4>{{ ride.driver.sex }}</h4>
				</td>
				<td></td>
				<td>
					{% trans "Age" %}
				</td>
				<td  style="color: orange">
					{{ age }}
				</td>
				
			</tr>
			<tr>
				<td class="align_top">
					{% trans "Mobile" %}
				</td>
				<td class="align_top"  style="color: orange">
					{{ ride.driver.mobile }}
				</td>
				<td></td>
				<td class="align_top">
					{% trans "Email" %}
				</td>
				<td class="align_top" style="color: orange">
					{{ ride.driver.user.email }}
				</td>
			</tr>
			<tr>
				<td class="align_top">
					{% trans "Car brand" %}
				</td>
				<td class="align_top"  style="color: orange">
					{{ ride.driver.car.car_brand }}
				</td>
				<td></td>
				<td class="align_top">
					{% trans "Licence plate" %}
				</td>
				<td class="align_top" style="color: orange">
					{{ ride.driver.car.licence_plate }}
				</td>
			</tr>
		</table>
		
	</div>
	<div class="fb-share-button" data-href="{{ request.build_absolute_uri }}{{ object.get_absolute_url }}" data-layout="button_count" data-mobile-iframe="false"></div>

{% endblock %}

{% block sub1 %}{% endblock %}
{% block sub2 %}{% endblock %}
