{% extends "main/account/profile.html" %}
{% load render_table from django_tables2 %}
{% load i18n widget_tweaks tags staticfiles crispy_forms_tags %}

{% block menu %}{% endblock %}

{% block extra_js %}
	{{ block.super }}
	{{ rideform.media }}
	
	
{% endblock %}

{% block extra_jquery %}
	    $('#confirm').on('show.bs.modal', function (event) {
		  var id = $(event.relatedTarget).attr('id');
		  var target = $(event.relatedTarget.parentElement.parentElement);
		  var modal = $(this);
		  var b = modal.find('#del');
		  $(b).click(function(){
		  	$.post("{% url 'del-ride' %}", {'id': id, csrfmiddlewaretoken: '{{ csrf_token  }}'}, function(data){});
			target.hide();
			modal.modal('hide');
		  })
		  
		});
		$('#quickview').on('show.bs.modal', function (event) {
		  var id = $(event.relatedTarget).attr('id');
		  var target = $(event.relatedTarget.parentElement.parentElement);
		  var modal = $(this);
		  var body = modal.find('.modal-body');
		  $(body).html('<table>' + target.html() + '</table><br/><a href="/ride/'+ id +'">{% trans "View the route" %}</a>');
		  
		});
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block section-id %}{% endblock %}

{% block right %}
		
    		{% crispy rideform %}
    	
		
    <div class="container-fluid">
    	{% render_table table %}
    </div>
    <div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">{% trans "Confirmation" %}</h4>
	      </div>
	      <div class="modal-body">
	        {% trans "Are you sure you want to delete?" %}
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
	        <button id="del" type="button" class="btn btn-primary">{% trans "Delete" %}</button>
	      </div>
	    </div>
	  </div>
	</div>

	<div class="modal fade" id="quickview" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">{% trans "Route details" %}</h4>
	      </div>
	      <div class="modal-body">
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
	      </div>
	    </div>
	  </div>
	</div>
{% endblock %}

{% block extra_info %}
{% endblock %}