{% extends 'main/pages/base.html' %}
{% load staticfiles widget_tweaks get_form socialaccount %}



    
    {% block content %}
    
        <section id="how-it-works" class="how-it-works">
            <div class="container">
                <h2 class="section-title">Ինչպե՞ս է աշխատում</h2>

                <div class="container">
                    
                        A2B թիմը ընդձեռում է հնարավորություն վարորդներին տեղադրելու այլ բնակավայր մեկնելու մասին
                        հաղորդագրություն։
                        Դրա համար վարորդները պետք է գրանցվեն մեզ մոտ և ներբեռնեն իրենց նկարը և մեքենայի նկարը։ <br/>
                        Ուղևորները, որոնք գնում են նույն ուղղությամբ կարող են փնտրել իրենց երթուղուն համապատասխան վարորդ։
                    
                </div>
            </div>
        </section>
        
    {% endblock %}

{% block sub1 %}{% endblock %}
{% block sub2 %}{% endblock %}