{% extends 'main/pages/base.html' %}
{% load i18n staticfiles widget_tweaks get_form socialaccount %}



    
    {% block content %}
        <section id="templatemo_contact" class="section text-center">
                <h2 class="section-title">{% trans "Contact us" %}</h2>


                    <!-- CONTACT FORM -->
                    <div class="col-md-8 col-md-offset-2 text-left wow fadeInLeft" data-wow-duration="1s">
                        <form role="form" method="post">
                            {% csrf_token %}
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}

                            
                            {% for err in vis.errors %}<span style="color:red">{{ err }}</span>{% endfor %}

                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                    {% with _("Name") as label_text %}
                                    {% render_field form.name class="form-control" placeholder=label_text required="required" %}
                                    {% endwith %}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-at"></i></div>
                                    {% with _("Email") as label_text %}
                                    {% render_field form.email class="form-control" placeholder=label_text required="required" %}
                                    {% endwith %}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                                    {% with _("Message") as label_text %}
                                    {% render_field form.message class="form-control" placeholder=label_text required="required" %}
                                    {% endwith %}
                                </div>
                            </div>
                                                    
                        
                            <div class="form-group row">
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary">{% trans 'Send' %}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- END CONTACT FORM -->


                
        </section>        
    {% endblock %}

{% block sub1 %}{% endblock %}
{% block sub2 %}{% endblock %}