{% extends "main/pages/base.html" %}
{% load i18n widget_tweaks tags staticfiles formset_tags debug_tags %}

{% block menu %}{% endblock %}

{% block extra_js %}
	<script src="{% static 'js/jquery.formset.js' %}"/>
	{{ rideform.media }}
{% endblock %}

{% block extra_jquery %}
	$('#confirm').on('show.bs.modal', function (event) {
	  var id = $(event.relatedTarget).attr('id');
	  var modal = $(this);
	  var b = modal.find('#del');
	  $(b).click(function(){
	  	$.post("{% url 'del-ride' %}", {'id': id, csrfmiddlewaretoken: '{{ csrf_token  }}'}, function(data){});
		$('tr#'+id).fadeOut('slow');
		modal.modal('hide');
	  })
	  
	});

{% endblock %}

{% block extra_css %}
	<link rel="stylesheet" href="{% static 'main/css/resp_tab/easy-responsive-tabs.css' %}"/>
{% endblock %}

{% block section-id %}{% endblock %}

{% block content %}
        <div class="templatemo_home_inner_wapper">
            <h1 class="text-center" style="margin: 0.4em 0;">
                <i class="fa fa-car"></i>
                <span style="color:orange">A</span>-ից
                <span style="color:orange">B</span></h1>
        </div>
{% errors_for form %}
	<div class="container text-center">
	    <h3>Իմ էջը</h3>
	</div>
	<form method="post" enctype="multipart/form-data">
			{{ driverform.featured_image.errors }}
			{{ driverform.featured_image.label_tag }}
			{% if driverform.instance.featured_image.image %}
				<img width="100px" src="{{ driverform.instance.featured_image.image.url }}"/>
			{% else %}
				<i class="fa fa-user fa-5x"></i>
			{% endif %}
			{{ driverform.featured_image }}
            <div id="accountTab">          
		        <ul class="resp-tabs-list">
		            <li> Իմ Էջը </li>
		            <li> Իմ Մեքենան</li>
		            <li> Իմ Հաշիվը </li>
		            <li> Իմ Երթուղիները </li>
		        </ul> 

		        <div class="resp-tabs-container">                                                        
		            <div>
		            	<table>
							{% csrf_token %}
							{{ userform.as_table }}				
						</table>

						<h3>Լրացուցիչ տվյալներ</h3>

						<table>
							<tr>
								<td>
									{{ driverform.mobile.label_tag }}
								</td>
								<td>
									{{ driverform.mobile.errors }}
									{{ driverform.mobile_prefix }}{{ driverform.mobile }}
									
								</td>
							</tr>
							<tr>
								<td>
									
									{{ driverform.sex.label_tag }}
								</td>
								<td>
									{{ driverform.sex.errors }}
									{{ driverform.sex }}
								</td>
							</tr>
							<tr>
								<td>

									{{ driverform.dob.label_tag }}
								</td>
								<td>
									{{ driverform.dob.errors }}
									{{ driverform.dob }}
								</td>
							</tr>
						
						</table>
		            </div>
		            <div>
		            	<h4 id="car-images">Մեքենայի նկարները</h4>
						<div id="formset" data-formset-prefix="{{ formset.prefix }}">
						    {{ formset.management_form }}
						    <div data-formset-body>
						
								{% for form in formset %}
									<div data-formset-form>
										{{ form.id }}
										<div id="image-div" class="col-sm-6">
									        {% if form.instance.image %} 
									        	<img width="100px" src="{{ form.instance.image.url }}">
									        	<div class="hidden">{{ form.DELETE }}</div>
									        	<button type="button" data-formset-delete-button>Ջնջել նկարը</button>
									        {% endif %}
											{{ form.image }}
								        </div>
								    </div>
							    {% endfor %}
							</div>
							<script type="form-template" data-formset-empty-form>
						        {% escapescript %}
						            <div data-formset-form>
						                {{ formset.empty_form.id }}
										<div id="image-div" class="col-sm-6">
									        {{ formset.empty_form.image }}
								        </div>
						            </div>
						        {% endescapescript %}
						    </script>

						    <!-- This button will add a new form when clicked -->
						    
						    <div id="make-hand"><i class="fa fa-plus-circle fa-3x" data-formset-add></i></div>
						    <script>jQuery(function($) {
						        $("#formset").formset({
						            animateForms: true,
						            hasMaxFormsClass: true
						        });
						        
						    });
						    </script>

						</div>
		            </div>
		            <div> Տեղեկություն իմ հաշվի վերաբերյալ </div>
		            <div>
		            	

		            	<table>
		            		{{ rideform.as_table }}
		            	</table>
		            	<table class="table-bordered">
		            		
		            			<tr>
		            				<th>Որտեղից</th><th>Ուր</th><th>Ամսաթիվ</th><th>Ազատ տեղերի քանակ</th><th>Գին</th><th>Գործողություն</th>
		            			</tr>
		            		
		            		{% for ride in request.user.driver.rides.all %}
		            			<tr id="{{ ride.id }}">
		            				<td>{{ ride.fromwhere }}</td>
		            				<td>{{ ride.towhere }}</td>
		            				<td>{{ ride.leavedate }}</td>
		            				<td>{{ ride.passenger_number }}</td>
		            				<td>{{ ride.price }}</td>
		            				<td><i id="{{ ride.id }}" data-toggle="modal" data-target="#confirm" class="fa fa-times fa-2x"></i></td>
		            			</tr>
		            		{% endfor %}
		            	</table>
		            </div>
		        </div>
		    </div>    

        
	


			
		<div class="col-sm-12 text-center">
            <button id="sbmt_btn" type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Save changes
            </button>
        </div>
    </form>

    <div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Հաստատում</h4>
	      </div>
	      <div class="modal-body">
	        Համոզվա՞ծ եք, որ ուզում եք ջնջել
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Փակել</button>
	        <button id="del" type="button" class="btn btn-primary">Ջնջել</button>
	      </div>
	    </div>
	  </div>
	</div>
{% endblock %}
