{% extends 'main/pages/base.html' %}
{% load i18n widget_tweaks tags staticfiles crispy_forms_tags formset_tags %}

{% block extra_js %}
    <script src="{% static 'js/jquery.formset.js' %}"></script>
{% endblock %}

{% block menu %}
{% endblock %}
    
{% block content %}
    <div id="all">

        <div id="content">
            
            <div class="container">           

                <div class="col-md-6">
                    
                        <h1 class="white">{% trans "Sign up" %}</h1>
                        
                        <p class="white">{% trans "Have you already registered with us?" %}</p>
                        
                        <p class="white">{% trans "You'll be able to post your trip details after registration" %}</p>

                        <hr>
                    <div class="col-md-12 col-md-offset-3">
                        {% crispy signup_form %}
                    </div>
                </div>

                <div class="col-md-6">
                    
                        <h1 class="white">{% trans "Log in" %}</h1>
                        
                        <p class="white">{% trans "Have you already registered with us?" %}</p>
                        <p class="white">{% trans "Enter here your email and password, please" %}</p>

                        <hr>
                    <div class="col-md-7 col-md-offset-3">
                        {% crispy loginform %}
                    </div>
                    {% include "socialaccount/snippets/login_extra.html" %}
                    <div class="col-md-9 col-md-offset-2 text-center">
                        <h3 id="or_h3">{% trans "or" %}</h3>
                        <a title="Facebook" class="btn btn-social-icon btn-lg" href="javascript:allauth.facebook.login('', 'authenticate', 'login')" style="background-color: #3b5998; display: inline-block; color: #fff"><i class="fa fa-facebook"></i></a>
                        
                        
                        <a class="btn btn-lg btn-social-icon" title="OK" id="id_ok" href="/accounts/odnoklassniki/login/?process=login" style="background-color: #F6881F; display: inline-block; color: #fff">
                            <i class="fa fa-odnoklassniki"></i>
                        </a>
                        <p class="text-muted"><a href="{% url 'account_reset_password' %}"><strong style="color:orange;">{% trans "Forgot password?" %}</strong></a></p>
                    </div>
                </div>


            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

{% endblock %}        

{% block sub1 %}{% endblock %}
{% block sub2 %}{% endblock %}
{% block login %}{% endblock %}