{% extends 'main/pages/base.html' %}
{% load i18n widget_tweaks tags staticfiles formset_tags %}

{% block extra_js %}
    <script src="{% static 'js/jquery.formset.js' %}"></script>
{% endblock %}

{% block menu %}
{% endblock %}
    
{% block content %}
    <div id="all">

        <div id="content">
            
            <div class="container">           

                <div class="col-md-6">
                    <div class="box">
                        <h1>{% trans "Sign up" %}</h1>
                        
                        <p class="lead">{% trans "Have you already registered with us?" %}</p>
                        
                        <p>{% trans "You'll be able to post your trip details after registration" %}</p>

                        <hr>

                        <form action="{% url "signup" %}" method="post" enctype="multipart/form-data" id="register-form">
                            {% csrf_token %}
                            {% errors_for signup_form %}
                            {% for hidden in signup_form.hidden_fields %}
                               {{hidden}}
                            {% endfor %}
                            {% for vis in signup_form.visible_fields %}
                                {% if vis.name != "gender" %}
                                    <div class="form-group">
                                        {{ vis.label_tag }}{% for error in vis.errors %} <span id="error">{{ error }}</span>{% endfor %}
                                        {% render_field vis class="form-control" required="required" %}
                                    </div>
                                {% else %}
                                    {{ vis.label_tag }}{{ vis }}
                                {% endif %}
                            {% endfor %} 
                            

                            <div class="text-center">
                                <button id="register_button" type="submit" class="btn btn-primary"
                                        style="background-color: orange; border-color: orange; font-weight: bold">
                                    <i class="fa fa-user-md"></i> {% trans "Sign up" %}</button>
                            </div>
                           
                        </form>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="box">
                        <h1>{% trans "Log in" %}</h1>
                        
                        <p class="lead">{% trans "Have you already registered with us?" %}</p>
                        <p>{% trans "Enter here your email and password, please" %}</p>

                        <hr>

                        <form action="{% url "signup" %}" method="post">
                            {% csrf_token %}
                            {% errors_for login_form %}
                            {% for hidden in login_form.hidden_fields %}
                               {{hidden}}
                            {% endfor %}
                            {% for vis in login_form.visible_fields %}
                                <div class="form-group">
                                    {{ vis.errors }}
                                    {{ vis.label_tag }}
                                    {% render_field vis class="form-control" required="required" %}
                                </div>
                            {% endfor %}
                                <div class="text-center">
                                    <button id="login_button" type="submit" class="btn btn-primary"
                                            style="background-color: orange; border-color: orange; font-weight: bold"
                                            ><i class="fa fa-sign-in"></i> {% trans "Log in" %}</button>
                                </div>
                        </form>
                    </div>
                    <h3 class="text-center">{% trans "or" %}</h3>
                    <div class="text-center">
                        <a title="Facebook" class="btn btn-primary btn-social" href="javascript:allauth.facebook.login('', 'authenticate', 'login')" style="background-color: #3b5998;">Facebook</a>
                        <a class="btn btn-primary btn-social" title="OK" id="id_ok" href="/accounts/odnoklassniki/login/?process=login" style="background-color: #F6881F;"><i class="fa fa-odnoklassniki-square"></i> {% trans "Login with OK" %}
                        </a>
                        <a class="btn btn-primary btn-social" title="VK" href="/accounts/vk/login/?process=login" style="background-color: #45668e;">
                            <i class="fa fa-vk"></i> {% trans "Login with VK" %}
                        </a>
                    </div>
                </div>


            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

{% endblock %}        

{% block sub1 %}{% endblock %}
{% block sub2 %}{% endblock %}
{% block login %}{% endblock %}